<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>71 Hillgrove Drive SE | The Group at RE/MAX First</title>
    <link rel="icon" href="remax-first-favicon.png" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
  </head>

  <body>
    <main class="brochure-container">
      <iframe
        src="https://online.fliphtml5.com/rgrpk/sill/"
        frameborder="0"
        title="71 Hillgrove Drive SE"
      ></iframe>
    </main>
  </body>
</html>
